@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.51%;
    --foreground: 0 0% 3.06%;

    --border: 0 0% 74.5%;
  }

  .dark {
    --background: 0 0% 2.51%;
    --foreground: 0 0% 93.06%;

    --border: 0 0% 14.5%;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Poppins';
  }
}

