---
import BaseLayout from '@/layouts/BaseLayout.astro';

import FileDrop from '@/components/FileDrop.tsx';
---

<BaseLayout>
  <main
    class="flex min-h-screen w-screen flex-1 items-center justify-center overflow-x-hidden"
  >
    <FileDrop client:visible />
  </main>
</BaseLayout>
